#sideBar {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(13, 20, 67);
  padding-right: 15%;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 0.5s ease;

    &.show {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

#container {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0;
  transition: transform 0.5s ease, border-radius 0.5s ease;

  &.hide {
    transform: translateX(80%) scale(0.9);
    border-radius: 25px;
  }
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 30px 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#content {
  height: 100vh;
  overflow: auto;
}

#personalSection {
  height: 80%;
  width: 100%;
  padding: 0 20vw;
  box-sizing: border-box;

  @media (max-width: 600px) {
    padding: 0 10vw;
  }

  .avatar {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-bottom: 5px rgb(142, 62, 248) solid;
    border-right: 5px rgb(142, 62, 248) solid;
    border-left: 5px rgb(21, 101, 215) solid;
    border-top: 5px rgb(21, 101, 215) solid;

    img {
      border-radius: 50%;
    }
  }

  .name {
    color: white;
    font-size: 30px;
    font-weight: bolder;
  }

  .list {
    display: flex;
    flex-direction: column;
    color: white;

    .item {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin: 10px 0;

      .icon {
        margin-right: 10px;
      }
    }
  }

  .buttonWrapper {
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
    }
  }

  .button {
    position: relative;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 96px;
    height: 40px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 8px 0 rgb(50, 109, 186);
    color: #fff;
    font-size: 16px;
    user-select: none;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: rgb(62, 184, 250);
      transition: background-color 0.3s;
    }

    &:active {
      background: linear-gradient(135deg, #95abf5, #b691e2);
      top: 4px;
      box-shadow: 0 4px 0 rgb(50, 109, 186);
    }
  }
}
