.field-container {
  margin-bottom: 5px;
}
.form-message {
  clear: both;
  color: #ff4d4f;
  font-size: 12px;
  line-height: 1.5715;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: 5px;
  padding-left: 10px;
  height: auto;
  min-height: 24px;
  opacity: 1;
}