{
  "plugins": ["prettier"],
  "extends": ["next/core-web-vitals", "alloy", "alloy/react", "alloy/typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-undef": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  }
}
