$success-color: #67C23A;
$info-color: #409EFF;
$warning-color: #E6A23C;
$error_color: #F56C6C;
.message-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &>div {
    position: absolute;
    padding: 8px;
    width: 100%;
    text-align: center;
  }
  .message {
    display: inline-block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: all;
  }
}
.icon {
  padding: 2px;
  margin-right: 4px;
  
}
.icon-success {
  color: $success-color;
}
.icon-warning {
  color: $warning-color;
}
.icon-error {
  color: $error_color;
}
.icon-info {
  color: $info-color;
}
.content {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}